@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/RobotoBold.ttf');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/RobotoLight.ttf');
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/RobotoRegular.ttf');
}

